<html>
    <head>
        <title>Tags costing</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body style="margin-top: 50px; margin-left: 300px; margin-right: 300px; background-color: #3E51B5;" >
        <nav>
            <div class="nav-wrapper white">
              <h5  class="brand-logo" style="margin-left: 30px; color: black;">Tags</h5>
              <ul id="nav-mobile" class="brand-logo right">
                <li><h4 style="margin-right: 20px; color: black;">Cost</h4></li>
              </ul>
            </div>
          </nav>
          <br>
        <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <i class="material-icons indigo circle" style="color: white;">code</i>
                Default tags
                <span class="badge indigo" style="color: white;">200</span></div>
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">code</i>
                  h1
                  <span class="badge indigo" style="color: white;">800</span></div>
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">code</i>
                  h2
                  <span class="badge indigo" style="color: white;">800</span></div>
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">code</i>
                  h3
                  <span class="badge indigo" style="color: white;">800</span></div>
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">code</i>
                  h4
                  <span class="badge indigo" style="color: white;">400</span></div>
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">code</i>
                  h5
                  <span class="badge indigo" style="color: white;">400</span></div>
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">code</i>
                  h6
                  <span class="badge indigo" style="color: white;">400</span></div>
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">code</i>
                  img
                  <span class="badge indigo" style="color: white;">9000</span></div>
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">code</i>
                  p
                  <span class="badge indigo" style="color: white;">300</span></div>
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">code</i>
                  div
                  <span class="badge indigo" style="color: white;">1000</span></div>
            </li>
            

            <!-- More items -->
        </ul>
    </body>
</html>