<html>
    <head>
        <title>Themes</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body style="margin-top: 50px; margin-left: 300px; margin-right: 300px; background-color: #3E51B5;" >
        <nav>
            <div class="nav-wrapper white">
              <h5  class="brand-logo" style="margin-left: 30px; color: black;">Themes for Wonder Web II</h5>
             
            </div>
          </nav>
        <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <i class="material-icons indigo circle" style="color: white;">assignment</i>
                DDU 3 Sessionals
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">bug_report</i>
                  Corona Virus
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">flash_on</i>
                  Electricity
            </li>

            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">assignment_late</i>
                  Journals
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">face</i>
                  Life
            </li>
            
            <li>
                <div class="collapsible-header">
                  <i class="material-icons indigo circle" style="color: white;">flight_takeoff</i>
                  Journey
            </li>
            

            

            <!-- More items -->
        </ul>
    </body>
</html>